@use "./base.scss";

a {
    code {
        color: #ffcc00;
    }
}

.page {
    & article {
        a {
            color: #4aa3ff;
        }

        code {
            color: #ff4aa3;
        }
        strong {
            color: orange;
        }
        em {
            color: #7cfc00;
        }
    }
}
