@use "./base.scss";

a {
    code {
        color: #ffcc00;
    }
}

.page {
    & article p {
        a {
            color: #4aa3ff;
        }

        code {
            color: #ff4aa3;
        }
        strong {
            color: orange;
        }
        em {
            color: #7cfc00;
        }
    }
}

h3 {
  color: #1affff;
}

h2 {
  color: #ff7f50;
}

h4 {
  color: #ccff00;
}
